* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

html {
    height: -webkit-fill-available;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

nav li {
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 80px;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    flex: 1;
    justify-content: center;
}

.intro {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.text-content {
    text-align: left;
    margin-left: 20px;
}

.text-content h2 {
    text-align: center;
}

.text-content h4 {
    text-align: center;
}

.text-content h5 {
    text-align: center;
}

.indent {
    text-indent: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 40px;
}


.contact a, .contact p {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.contact a:hover, .contact a:focus {
    text-decoration: underline;
}

footer {
    padding: 10px 0;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 18px;
    position: relative;
    z-index: 10;
}

.profile-wrap {
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.tuneit {
    text-align: center;
    padding: 20px;
}

.tech-icons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 0;
}


.tech-icon {
    flex: 1;
    height: auto;
    margin: 5px;
}


.icon-row {
    display: flex;
    justify-content: space-around;
}


#graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    margin-bottom: 1px;
}

@media only screen and (max-width: 768px) {
    body, html {
        font-size: 14px;
    }

    header, footer {
        padding: 10px 0;
    }

    nav ul {
        padding: 0;
    }

    nav li {
        padding: 10px;
    }

    main {
        padding-top: 20px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .intro {
        padding: 15px;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact a, .contact p {
        margin: 5px 0;
    }

    #graph-container {
        max-height: 300px;
    }
}